@model ResetPasswordDto
<!-- Şifre değiştirme işlemleri içeriği buraya gelecek -->

<form asp-action="ChangePassword" asp-controller="User">
    <div class="row mb-4">

        <div class="col-md-6">

            <div class="form-group">
                <label for="inputPassword4">Eski Parola</label>
                <input asp-for="CurrentPassword" type="password" class="form-control" id="inputPassword5" />
            </div>
            <div class="form-group">
                <label for="inputPassword5">Yeni Parola</label>
                <input asp-for="NewPassword" type="password" class="form-control" id="inputPassword5" />
            </div>
            <div class="form-group">
                <label for="inputPassword6">Yeni Parola Doğrulama</label>
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" id="inputPassword6" />
            </div>
        </div>


        <div class="col-md-6">
            <p class="mb-2">Parola Gereksinimleri</p>
            <p class="small text-muted mb-2">Yeni bir parola oluşturmak için aşağıdaki gereksinimlerin tümünü karşılamanız gerekir::</p>
            <ul class="small text-muted pl-4 mb-0">
                <li>En az 8 karakter</li>
                <li>En az bir özel karakter</li>
                <li>En az bir rakam</li>
                <li>Önceki bir parola ile aynı olamaz.</li>
            </ul>
        </div>
    </div>
    <hr class="my-4" />
    <button type="submit" class="btn btn-primary">Şifre Değiştir</button>
</form>