<div class="page-heading header-text" style="background-image: url(https://www.manzara.gen.tr/w1/1956-Chevrolet-Facebook-Kapa%C4%9F%C4%B1.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <h1>Rent A Car</h1>
            <span>Email Doğrulama Sayfası</span>
          </div>
        </div>
      </div>
</div>